#content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #e5cace;
  animation-name: example;
  animation-duration: 24s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color: #9a847b ;}
  16%  {background-color: #68343c;}
  32%  {background-color: #b76e79;}
  64%  {background-color:#9e878a; left:0px; top:200px;}
  75% {background-color: #8f4752; left:0px; top:0px;}
  87% {background-color:#e5cace; left:0px; top:0px;}
  100%   {background-color: #9a847b ;}
}

#greeting-container {
  margin-top: 20px;
}

footer {
  background-color: #B4918F;
  padding: 10px;
  text-align: center;
  color: #b7886e;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}